body {
  margin-left: 150px;
  font-family: "Lato", sans-serif;
}

.sidebar {
height: 200px;
width: 120px;
position: fixed;
top: 0;
left: 0;
padding-top: 40px;
background-color: lightblue;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

